@use "../../../styles/variables" as *;

.experienceContent {
  @media (max-width: $breakpoint-lg) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  @media (max-width: $breakpoint-md) {
    padding: 4rem 0;
  }
}

.description {
  font-size: 2.2rem;
  line-height: 30px;
}
