.link {
  display: inline-block;
  color: rgb(236, 113, 45);
  font-size: 2.4rem;
  position: relative;
  padding-right: 32px;
  text-decoration: none;
  background: url("../../../../public/assets/imagess/arrow-link.svg") no-repeat
    right 0 top 50%;
}
