$color-primary: #d626be;
$color-primary-light: rgba(#d626be, 0.17);
$color-primary-translucent: rgba(#d626be, 0.4);

$color-white: #fff;
$color-black: #000;
$color-dark-bg: #303030;
$color-gray: #7a7a7a;
$color-gray-dark: #8e8e8e;
$color-light-gray-bg: #f4f4f4;
$color-mobile-nav-bg: #f5f5f5;
$color-mobile-nav-border: #efefef;
$color-mobile-nav-text: #21272a;

$font-meringue: "--font-meringue";
$font-capsuula: "--font-capsuula";

$breakpoint-xl: 1439px;
$breakpoint-lg: 1079px;
$breakpoint-md: 799px;
$breakpoint-sm: 550px;
