/* Main color #D626BE */

@font-face {
  font-family: "--font-meringue";
  src: url("../../public/fonts/TAN MERINGUE.ttf");
}

@font-face {
  font-family: "--font-capsuula";
  src: url("../../public/fonts/Capsuula.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-size: 2em;
  font-family: "--font-capsuula";
  color: #fff;
  background-color: #303030;
}

h2 {
  font-family: "--font-meringue";
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  filter: brightness(1);
}

h5 {
  color: #7a7a7a;
  text-transform: uppercase;
}

section.background-lightgray {
  background-color: #f4f4f4;
}

section.background-lightgray p {
  color: #7a7a7a;
}

section > .container {
  padding: 120px 0;
}

.container.container-padding-top-65 {
  padding-top: 65px;
}
.container.container-padding-bottom-30 {
  padding-bottom: 30px;
}

footer {
  font-size: 2.2rem;
  background-color: #000;
  color: #fff;
  font-weight: 400;
}

footer > .container {
  padding: 80px 0;
}
footer > .container > .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 115px;

  background-color: #000;
}

nav {
  padding-top: 26px;
}

nav > .columns:first-of-type a img {
  width: 224px;
  height: calc((294px * 20) / 100);
}

nav .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-links .nav-mobile-header {
  display: none;
}

.mobile-menu-button {
  display: none;
  visibility: hidden;
  color: #21272a;
}

nav .nav-buttons,
footer .nav-buttons {
  display: flex;
  justify-content: right;
  gap: 10px;
  padding-top: 12px;
}

nav .nav-links > ul > li > a {
  text-decoration: none;
  color: #fff;
  margin-bottom: 0;
}
nav .nav-links > ul > li > .active,
nav .nav-links > ul > li > ul > li > .active {
  color: #d626be;
}

ul.list-vertical {
  list-style-type: none;
}

ul.list-vertical > li {
  display: inline-block;
  padding: 12px 8px;
  margin-left: 16px;
}

nav .nav-links ul.list-vertical > li:first-of-type {
  margin-left: 0;
}

.link {
  display: inline-block;
  color: rgb(236, 113, 45);
  font-size: 2.4rem;
  position: relative;
  padding-right: 32px;
  text-decoration: none;
  background: url("../../public/assets/imagess/arrow-link.svg") no-repeat right
    0 top 50%;
}

/* table */

.table > .row {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;

  position: relative;
}
.table > .row:nth-of-type(even) {
  background-color: #8e8e8e40;
}
.table > .row > .columns {
  padding: 20px;
  margin: 0;
}
.table > .row > .vertical-divider {
  height: 100%;
  width: 1px;
  border-right: 1px solid #fff;

  position: absolute;
  right: 25%;
  top: 0;
}
.table > .row > .vertical-divider.left {
  left: 50%;
}
.table > .row > .col2 {
  display: flex;
  justify-content: flex-end;
}
.table > .row > .col2.left {
  display: flex;
  justify-content: flex-start;
}
/* table */

/* source of formats */
.row-reverse {
  flex-direction: row-reverse;
}
.source-of-format {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.source-of-format h2 {
  line-height: 67px;
}
/* source of formats */

/* source of formats in services */
h2.source-of-format-header {
  margin-bottom: 34px;
}
p.source-of-format-text {
  line-height: 23px;
  /* font-family: Open Sans, sans-serif; */
}
.source-of-format-text-container {
  width: 696px;
  height: 411px;
  flex-shrink: 0;
}
/* source of formats in services */

/* why us */
div.why-us-img {
  padding: 0 25px;
}
div.why-us-img img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10%;
}
h2.why-us-header {
  color: #d626be;
}
.why-us-text-container {
  width: 642px;
  flex-shrink: 0;
}
.why-us-text-container > ul {
  list-style-position: outside;
  padding-left: 23px;
}
.why-us-text-container > ul > li {
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 25px;
}
.why-us-text-container > ul > li > span {
  font-weight: 700;
}
/* why us */

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
  padding-top: 45px;
}

.instagram-icon {
  width: 32px;
  height: 32px;
  background: url("../../public/assets/imagess/instagram-icon.svg");
}
.facebook-icon {
  width: 32px;
  height: 32px;
  background: url("../../public/assets/imagess/facebook-icon.svg");
}

.footer-info {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-info > h4 {
  color: #d626be;
}

#footer-logo {
  display: block;
  width: 215px;
  height: 215px;
}

/* MOBILE MEDIA QUERIES */
@media (max-width: 1439px) {
  .container {
    width: 1024px;
  }

  section > .container {
    padding: 60px 0;
  }

  .why-us-text-container {
    width: 50%;
    height: auto;
  }

  .why-us-img {
    padding-right: 16px;
  }
  .source-of-format-text-container + div > img#source-of-formats-in-services,
  .why-us-img img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    /* padding-right: 16px; */
  }

  .source-of-format > .six.columns:nth-of-type(2) {
    overflow-x: hidden;
  }

  .table > .row > .vertical-divider {
    right: 33%;
  }
  .table > .row > .vertical-divider.left {
    left: 50%;
  }
}

@media (max-width: 1079px) {
  h2 {
    font-size: 3.2rem;
  }

  h2 br {
    display: none;
  }

  h4 {
    font-size: 2.4rem;
  }

  main > section {
    margin-bottom: 10rem;
  }

  .container,
  footer,
  section > .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
  }

  nav .logo {
    width: 100%;
  }

  .source-of-format {
    margin-top: 60px;
    flex-wrap: wrap;
  }

  div.why-us-img,
  #source-of-formats-in-services {
    padding-top: 0;
  }

  .source-of-format > .six.columns:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
  }

  .source-of-format #source-of-formats {
    width: 100%;
    height: auto;
    margin-top: 8px;
  }

  .source-of-format h2 {
    line-height: 1.5;
  }

  .source-of-format .link {
    font-size: 3.2rem;
  }

  div.why-us-img {
    padding-top: 0;
    width: 50%;
  }

  .table > .row > .vertical-divider {
    right: 33%;
  }
  .table > .row > .vertical-divider.left {
    left: 50%;
  }
}

@media (max-width: 799px) {
  .container,
  footer,
  section > .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }

  nav {
    padding-top: 2rem;
  }

  nav .nav-links.mobile-active {
    display: block !important;
    position: absolute;
    width: 100%;
    height: 450px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #f5f5f5;
    padding: 2rem;
    margin-left: 0;
    border-bottom: 2px solid #efefef;
  }

  nav .nav-links.mobile-active .nav-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .nav-links .nav-mobile-header img {
    width: 127px;
    height: calc((210px * 20) / 100);
  }

  nav .nav-links .nav-mobile-header svg {
    width: 32px;
    height: 32px;
  }

  nav .nav-links.mobile-active ul {
    margin-top: 2rem;
  }

  nav .nav-links ul.list-vertical > li {
    padding: 6px 0;
  }

  nav .nav-links.mobile-active ul > li,
  nav .nav-links.mobile-active ul > li:first-of-type {
    display: block;
    margin-left: 0;
  }

  nav .nav-links.mobile-active ul li a {
    color: #21272a;
    font-weight: 600;
  }

  nav .nav-links.mobile-active ul li a.active {
    color: #d626be;
  }

  nav .nav-links.mobile-active + div.three.columns {
    display: block;
    position: absolute;
    z-index: 1;
    left: -12px;
    top: 380px;
  }

  nav .nav-links.mobile-active + div.three.columns .nav-buttons {
    justify-content: flex-start;
  }
  nav .nav-buttons.mobile-active {
    filter: invert(1);
  }

  nav > .columns:not(:first-of-type) {
    display: none;
  }

  nav > .columns:first-of-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav > .columns:first-of-type a img {
    width: 127px;
    height: calc((210px * 20) / 100);
  }

  .mobile-menu-button {
    display: block;
    visibility: visible;
  }

  nav > .columns:first-of-type .mobile-menu-button svg {
    width: 32px;
    height: 32px;
    color: #fafafa;
  }

  main > section {
    margin-bottom: 0;
  }

  .source-of-format {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }

  .source-of-format > .six.columns:nth-of-type(1) {
    width: 100%;
    order: 2;
    margin-top: 2rem;
  }

  .source-of-format > .six.columns:nth-of-type(2) {
    width: 100%;
    order: 1;
    margin-left: 0;
  }

  footer > .container {
    padding: 4rem 0;
  }

  footer > .container > .footer {
    flex-direction: column;
    justify-content: center;
  }

  footer > .container > .row > .six.columns > div {
    justify-content: flex-start;
  }

  footer hr {
    margin: 2rem 0;
  }

  footer .social-media-links {
    justify-content: center;
  }

  footer .footer-nav {
    margin-top: 4rem;
  }

  footer .footer-nav-main,
  footer .footer-info {
    padding-right: unset;
  }

  .source-of-format img,
  .why-us-text-container,
  .why-us-text img {
    width: 100%;
    height: auto;
  }

  .source-of-format {
    margin-bottom: 0;
  }

  .join-us-container::before {
    top: 4rem;
  }
}

@media (max-width: 550px) {
  header {
    height: 75px;
  }

  footer > .container > .row > .six.columns > div {
    margin-top: 2rem;
  }

  nav .nav-links.mobile-active {
    height: 510px;
  }

  nav .nav-links ul.list-vertical > li {
    padding: 12px 8px;
  }

  nav .nav-links.mobile-active + div.three.columns {
    display: block;
    position: absolute;
    z-index: 1;
    left: 2.8rem;
    top: 460px;
  }

  .table > .row > .vertical-divider {
    right: 50%;
  }
  .table > .row > .vertical-divider.left {
    left: 50%;
  }
}

/* ANIMATIONS */
@keyframes apper {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes disapper {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.5;
  }
}
