@use "../styles/variables" as *;

@font-face {
  font-family: $font-meringue;
  src: url("../../public/fonts/TAN MERINGUE.ttf");
}

@font-face {
  font-family: $font-capsuula;
  src: url("../../public/fonts/Capsuula.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 2em;
  font-family: $font-capsuula;
  color: $color-white;
  background-color: $color-dark-bg;
}

h2 {
  font-family: $font-meringue;
}

a {
  text-decoration: none;
  color: $color-white;
}

h5 {
  color: $color-gray;
  text-transform: uppercase;
}

section.background-lightgray {
  background-color: $color-light-gray-bg;

  p {
    color: $color-gray;
  }
}

section > .container {
  padding: 120px 0;
}

.container.container-padding-top-65 {
  padding-top: 65px;
}

.container.container-padding-bottom-30 {
  padding-bottom: 30px;
}

@media (max-width: $breakpoint-xl) {
  .container {
    width: 1024px;
  }

  section > .container {
    padding: 60px 0;
  }
}

@media (max-width: $breakpoint-lg) {
  h2 {
    font-size: 3.2rem;

    br {
      display: none;
    }
  }

  h4 {
    font-size: 2.4rem;
  }

  main > section {
    margin-bottom: 10rem;
  }

  .container,
  footer,
  section > .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
  }
}

@media (max-width: $breakpoint-md) {
  .container,
  footer,
  section > .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }

  main > section {
    margin-bottom: 0;
  }
}
