@use "../../../styles/variables" as *;

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.instagramIcon {
  width: 32px;
  height: 32px;
  background: url("../../../../public/assets/images/instagram-icon.svg");
}

.facebookIcon {
  width: 32px;
  height: 32px;
  background: url("../../../../public/assets/images/facebook-icon.svg");
}
